html{
    height: 100%; /*for the footer*/
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
 body{
    min-height: 100%; /*for the footer*/
    display: flex;
    flex-direction: column;

 }

nav .top-nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    margin-right: 20px;
    justify-content: space-between;
   
}

nav .top-nav ul{
    text-align: right;
}

nav .top-nav{
    background-color: limegreen;
}


.bottom-nav{
    display: block;

}
.first-sub-bottom-nav{
    display: flex;
    justify-content: space-between;
}

.icons{
    display: flex;
    justify-content: flex-end;
    margin-right: 14px;
}


#favorite{
    margin-right: 14px;
}


.second-sub-bottom-nav{
display: flex;
margin-top: 20px;
justify-content: flex-end;
align-items: center;
align-self: center;
}

.nav-links{
    display: flex;
    margin-right: 150px;
    margin-bottom: 0;
}
nav .bottom-nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    margin-right: 20px;
    
}

nav .bottom-nav ul{
    text-align:center;
    margin-top: 0;
}

nav{
    background-color:  lightgray;
    height: 150px;
}

.search{
    --padding : 14px;

    height : max-content;
    width: max-content;
    display: flex;
    align-items: flex-end;
    padding: var(--padding);
    background-color:transparent;
}

.search-input{
    border-radius: 28px;
    border: none;
    margin-left: var(--padding);
    font-size: 16px;
    padding-left: 14px;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-right:14px ;
    width: 250px;
    font-family: 'Lexend' sans-serif;
    color: rgba(255, 255, 255, 0.70);
    outline: none;
    background: rgb(73, 73, 73);
}

.search-input ::placeholder{
    color: rgba(0, 0, 0, 0.25);
}



.form-container{
    width: 350px;
    height: 310px;
    position: relative;
    margin: 2% auto;
    background-color: #D3D3D3;
    padding: 35px;
    overflow: hidden;
    border-radius: 25px; 
    align-content: center;
    display: flex;
    flex-direction: column;
    
}

.register-form-container{
    width: 360px;
    height: 650px;
    position: relative;
    margin: 2% auto;
    background-color: #D3D3D3;
    padding: 35px;
    overflow: hidden;
    border-radius: 25px; 
    align-content: center;
    display: flex;
    flex-direction: column;
   
}

.input-box input{
    margin-bottom: 12px;
    width: 210px;
    height: 35px;
    background-color:rgb(46, 49, 46);
    font-size: 16px;
    border-radius: 7px;
    border: 1px solid #ccc;
    outline: none;
    margin-left: 45px;
    padding-left: 15px;
    color: #f6f6f6;
}

::placeholder{
    margin: 10px;
    color: rgb(255, 255, 255,0.7);
}

form h1{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 15px;
}

input[type="checkbox"]{
    margin-left: 20px;
}


.login-btn{
    width: 200px;
    height: 34px;
    margin-left: 42px;
    margin-top:15px;
    margin-bottom:10px;
    border-radius: 15px;
    border:1px solid #ccc;
    outline: none;
    background-color: rgb(20, 66, 16);
    color: white;
    font-weight: bold;
}

.reg-btn{
    width: 200px;
    height: 34px;
    margin-left: 42px;
    margin-top:15px;
    margin-bottom:10px;
    border-radius: 15px;
    border:1px solid #ccc;
    outline: none;
    background-color: rgb(20, 66, 16);
    color: white;
    font-weight: bold;
}
.register-link p{
    text-align: center;
}

 .small-words{
    font-size: 10px;
    margin-left: 45px;
}

select{
    width: 199px;
    margin-left: 45px;
    margin-top: 0px;
    margin-bottom: 10px;
    height: 34px;
    border-radius: 7px;
    border: 1px solid #ccc;
    outline: none;
}

.btn{
    width: 200px;
    height: 34px;
    margin-left: 42px;
    margin-top:15px;
    margin-bottom:10px;
    border-radius: 15px;
    border:1px solid #ccc;
    outline: none;
    background-color: rgb(20, 66, 16);
    color: white;
    font-weight: bold; 
}

footer{
    background-color:  rgb(70, 68, 68);
    margin-top: auto; /*for the footer move to the bottom*/
    color: white;
    align-content: center;
    text-align: center;
}

main{
    overflow: auto; /*get a scrolling when have alot of content*/
    margin-bottom: 20px;
    margin-top: 20px;
    min-height: 100%;
}


.top-footer{
    background-color:lightgray;
    display: flex;
    justify-content: space-between;
    padding:50px;
}

footer p {
    margin: 20px;
}

.footer-column ul li {
    list-style: none; 
    
}



.footer-column ul{
padding-left: 0;
text-align: left;
display: flex;
flex-direction: column;
}

a{
    text-decoration: none;
}

.footer-column ul li a{
    color: white;
}

.footer-column h4{
    text-align: left;
    font-size: 21px;
}







