html{
    height: 100%; /*for the footer*/
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --bg-color: rgb(14, 204, 204);
    --text-color: rgb(150, 172, 54);
    --main-color: limegreen;
    --big-font: 4.5rem;
    --h2-font: 3.3rem;
    --h3-font: 2rem;
    --normal-font: 1rem;
}
 body{
    min-height: 100%; /*for the footer*/
    display: flex;
    flex-direction: column;

 }


 /*nav-bar*/
nav .top-nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    margin-right: 20px;
    justify-content: space-between;
   
}

nav .top-nav ul{
    text-align: right;
}

nav .top-nav{
    background-color: limegreen;
}


.bottom-nav{
    display: block;

}
.first-sub-bottom-nav{
    display: flex;
    justify-content: space-between;
}

.icons{
    display: flex;
    justify-content: flex-end;
    margin-right: 14px;
}


#favorite{
    margin-right: 14px;
}


.second-sub-bottom-nav{
display: flex;
margin-top: 20px;
justify-content: flex-end;
align-items: center;
align-self: center;
}

.nav-links{
    display: flex;
    margin-right: 150px;
    margin-bottom: 0;
}
nav .bottom-nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    margin-right: 20px;
    
}

nav .bottom-nav ul{
    text-align:center;
    margin-top: 0;
}

nav{
    background-color:  rgb(219, 218, 218);
    height: 150px;
}

.search{
    --padding : 14px;

    height : max-content;
    width: max-content;
    display: flex;
    align-items: flex-end;
    padding: var(--padding);
    background-color:transparent;
}

.search-input{
    border-radius: 28px;
    border: none;
    margin-left: var(--padding);
    font-size: 16px;
    padding-left: 14px;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-right:14px ;
    width: 250px;
    font-family: 'Lexend' sans-serif;
    color: rgba(255, 255, 255, 0.70);
    outline: none;
    background: rgb(73, 73, 73);
}

.search-input ::placeholder{
    color: rgba(0, 0, 0, 0.25);
}



/*form*/
.form-container{
    width: 350px;
    height: 310px;
    position: relative;
    margin: 2% auto;
    background-color: #D3D3D3;
    padding: 35px;
    overflow: hidden;
    border-radius: 25px; 
    align-content: center;
    display: flex;
    flex-direction: column;
    
}

.register-form-container{
    width: 360px;
    height: 650px;
    position: relative;
    margin: 2% auto;
    background-color: #D3D3D3;
    padding: 35px;
    overflow: hidden;
    border-radius: 25px; 
    align-content: center;
    display: flex;
    flex-direction: column;
   
}

.input-box input{
    margin-bottom: 12px;
    width: 210px;
    height: 35px;
    background-color:rgb(46, 49, 46);
    font-size: 16px;
    border-radius: 7px;
    border: 1px solid #ccc;
    outline: none;
    margin-left: 45px;
    padding-left: 15px;
    color: #f6f6f6;
}

::placeholder{
    margin: 10px;
    color: rgb(255, 255, 255,0.7);
}

form h1{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 15px;
}

input[type="checkbox"]{
    margin-left: 20px;
}


.login-btn{
    width: 200px;
    height: 34px;
    margin-left: 42px;
    margin-top:15px;
    margin-bottom:10px;
    border-radius: 15px;
    border:1px solid #ccc;
    outline: none;
    background-color: rgb(20, 66, 16);
    color: white;
    font-weight: bold;
}

.reg-btn{
    width: 200px;
    height: 34px;
    margin-left: 42px;
    margin-top:15px;
    margin-bottom:10px;
    border-radius: 15px;
    border:1px solid #ccc;
    outline: none;
    background-color: rgb(20, 66, 16);
    color: white;
    font-weight: bold;
}
.register-link p{
    text-align: center;
}

 .small-words{
    font-size: 10px;
    margin-left: 45px;
}

select{
    width: 199px;
    margin-left: 45px;
    margin-top: 0px;
    margin-bottom: 10px;
    height: 34px;
    border-radius: 7px;
    border: 1px solid #ccc;
    outline: none;
}

.btn{
    width: 200px;
    height: 34px;
    margin-left: 42px;
    margin-top:15px;
    margin-bottom:10px;
    border-radius: 15px;
    border:1px solid #ccc;
    outline: none;
    background-color: rgb(20, 66, 16);
    color: white;
    font-weight: bold; 
}

footer{
    background-color:  rgb(70, 68, 68);
    margin-top: auto; /*for the footer move to the bottom*/
    color: white;
    align-content: center;
    text-align: center;
}

main{
    overflow: auto; /*get a scrolling when have alot of content*/
    margin-bottom: 50px;
    margin-top: 20px;
    min-height: 100%;
}


.top-footer{
    background-color:rgb(123, 122, 122);
    display: flex;
    justify-content: space-between;
    padding:50px;
}

footer p {
    margin: 20px;
}

.footer-column ul li {
    list-style: none; 
    margin-bottom: 8px;
}



.footer-column ul{
padding-left: 0;
text-align: left;
display: flex;
flex-direction: column;
}

a{
    text-decoration: none;
    color: inherit;
}

.footer-column ul li a{
    display: block;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 600;
    transition: all .35s ease;
}

.footer-column ul li a:hover{
    transform: translateX(-8px);
    color: black;
}

.footer-column h4{
    text-align: left;
    font-size: 21px;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

/*shop page*/

section{
    margin: 20px;
}

section h3{
    margin-bottom: 20px;
}

.catergory-header{
    margin: 20px 0px 20px 0px
}

.gender-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catergory-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-container-gender{
    width: 270px;
    height: 170px;
    overflow: hidden;
    border-color: black;
    position: relative;
    margin-bottom: 25px;
}

.image-container-gender img{
    object-fit: cover;
    width: 100%;
    border-image: 50 round;
} 

.image-content-gender{
    top: 0; /* Align to the top of the container */
    object-fit: cover;
    width: 270px;
    height: 170px;
    position: absolute;
    background: rgba(0, 0, 0, 0.6); 
    opacity: 0;
    transition: 0.6s;/*The transition when hovered*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/*When the mouse hovers the image*/
.image-container-gender:hover .image-content-gender{
    opacity: 1;
    transition: opacity 0.6s; /* Added the property to transition */
}

.image-content-gender p{
    font-size: 19px;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-content-gender > *{
    transform: translateY(25px);
    transition: transform 0.6s;
}

/*Making the content hover as well*/
.image-content-gender:hover> *{
    transform: translateY(0px); /*Hover in the y-axis and stop with 0px*/
}


/*Shop page-catergorgy*/
.image-container-catergory{
    width: 370px;
    height: 170px;
    border: 60px;
    overflow: hidden;
    position: relative;
    margin-bottom: 25px;
}

.image-content-catergory{
    top: 0; /* Align to the top of the container */
    object-fit: cover;
    width: 370px;
    height: 170px;
    position: absolute;
    background: rgba(0, 0, 0, 0.6); 
    opacity: 0;
    transition: 0.6s;/*The transition when hovered*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/*When the mouse hovers the image*/
.image-container-catergory:hover .image-content-catergory{
    opacity: 1;
    transition: opacity 0.6s; /* Added the property to transition */
}

.image-content-catergory p{
    font-size: 19px;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-content-catergory > *{
    transform: translateY(25px);
    transition: transform 0.6s;
}

/*Making the content hover as well*/
.image-content-catergory:hover> *{
    transform: translateY(0px); /*Hover in the y-axis and stop with 0px*/
}

.image-container-catergory img{
    object-fit:cover;
    width: 100%;
    height:100%;
    /*border: 1px solid rgba(0, 0, 0, 0.20);*/
    background-color: #dfb49f;
}


/*Specific-Shop*/
.home{
    padding: 100px 14%;
    min-height: 100vh;
    background-size: cover;
    background: url(Images/Arrival/Men/Arrival.png);
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: 350px top;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
}

.home-text h1{
    font-size: var(--big-font);
    margin-bottom: 15px;
}

.home-text span{
    font-size: var(--h2-fontS);
    font-family:'Courier New', Courier, monospace;
    font-weight: 500;
}

.home-text p{
    font-size: var(--normal-font);
    font-weight: 500;
    margin-bottom: 3rem;
    letter-spacing: .2rem;
}

.btn-arrival{
    display: inline-block;
    padding: 13px 15px;
    background: var(--main-color);
    font-size: 15px;
    letter-spacing: 1px;
    font-size: 600;
    border-radius: 6px;
    transition: all .35s ease;
}

.btn-arrival:hover{
    transform: translateY(-5px);
    background: var(--text-color);
    color:white;
}

/*Specific-Shop-section featured*/
.center-text{
    text-align: center;
}

.center-text h2{
    font-size: var(--h3-font);
}

.featured{
    margin-top: 85px;
}

.featured-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.3rem;
    align-items: center;
    margin-top: 4rem;
    place-items: center;
}

.image-container{
    width: 270px;
    height: 170px;
    overflow: hidden;
    position: relative;
    margin-bottom: 25px;
    border: 1px rgba(0,0,0,0.25) solid;
}

.row-custom{
    position: relative;
    transition: all .35s ease;
    overflow: hidden;
}

.row-custom img{
    object-fit: cover;
    width: 100%;
    height: auto;
}

.fea-text{
    position: absolute;
    top: 0px;
    left: 10px;
    margin-left: 0;
    padding-left: 0;
    margin: 10px 0px 0px 5px;
}

.fea-text h5{
    font-size: 19px;
    letter-spacing: 2px;
    margin-bottom: 0.5rem;
}

.fea-text p{
    color: #555;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
}

.row-custom .arrow{
    position: absolute;
    bottom: 40px;
    left: 20px;
}

.row-custom .arrow i{ 
    height: 35px;
    width: 35px;
    background: var(--bg-color);
    border-radius: 50%;
    font-size: 20px;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all .35s ease;
}
.row-custom:hover{
    transform: scale(0.9) translateY(-5px);
    cursor: pointer;
}
.row-custom:hover i{
    background: var(--main-color);
    color: var(--big-font);
}

/*Specific-Shop-Sale section*/
.sale-sec{
    height: 60vh;
    background: url(Images/Arrival/Men/Men_Sale.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-color: rgb(217, 201, 149);
    overflow: hidden;
    margin: 40px 0px 85px 0px;
    display: flex;
    align-items: center;
}

.sale-text{
    margin-left: 80px;
}

.sale-text h6{
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 6px;
    margin-bottom: 14px;
}

.sale-text h4{
    font-size: 3.3rem;
    line-height: 1.2;
    letter-spacing: .6rem;
    margin-bottom: 30px;
}


/*Specific-Shop-Arrival section*/
.new_content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.3rem;
    align-items: center;
    margin-top: 4rem;
    place-items: center;
    text-align: center;
    
}

.box{
    position: relative;
    transition: all .40s ease;
    width: 200px;
    overflow: hidden;
}

.box img{
    width: 100%;
    height: 100%;
    padding-top: 50px;
    object-fit: contain;
   
}

.box h5{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.box h6{
    font-size: 16px;
    font-weight: 700;
}

.sale{
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 28px;
    background: rgb(207, 15, 15);
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.sale h4{
    margin: auto;
    font-size: 18px;
}

.box:hover{
    transform: scale(0.9)translateY(-5px);
    cursor: pointer;
}